[init]
	templatedir = ~/.git_templates
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = felix.wege@tuhh.de
	name = Felix Wege
[branch]
	autosetuprebase = always
[rerere]
	enable = true
[pull]
	rebase = true
[push]
	default = current
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
