! special
*.foreground:   #E8E8E8
*.background:   #181818
*.cursorColor:  #D8D8D8

! black
*.color0:       #181818
*.color8:       #585858

! red
*.color1:       #AB4642
*.color9:       #AB4642

! green
*.color2:       #A1B56C
*.color10:      #A1B56C

! yellow
*.color3:       #F7CA88
*.color11:      #F7CA88

! blue
*.color4:       #7CAFC2
*.color12:      #7CAFC2

! magenta
*.color5:       #BA8BAF
*.color13:      #BA8BAF

! cyan
*.color6:       #86C1B9
*.color14:      #86C1B9

! white
*.color7:       #D8D8D8
*.color15:      #F8F8F8

! extra
*.color16:      #DC9656
*.color17:      #A16946
*.color18:      #282828
*.color19:      #383838
*.color20:      #B8B8B8
*.color21:      #E8E8E8
