! special
*.foreground:   #E8E8E8
*.background:   #282828
*.cursorColor:  #E8E8E8

! black
*.color0:       #282828
*.color8:       #383838

! red
*.color1:       #AB4642
*.color9:       #AB4642

! green
*.color2:       #A1B56C
*.color10:      #A1B56C

! yellow
*.color3:       #F7CA88
*.color11:      #F7CA88

! blue
*.color4:       #7CAFC2
*.color12:      #7CAFC2

! magenta
*.color5:       #BA8BAF
*.color13:      #BA8BAF

! cyan
*.color6:       #86C1B9
*.color14:      #86C1B9

! white
*.color7:       #D8D8D8
*.color15:      #F8F8F8
